{{! Format pi and copi list as pi / copi names. Click on PI to do something.}}

<a href='javascript:;' class='' {{action 'sendAction' 'piSelected' record}} title='Click to contact corresponding author/PI'>
  {{record.pi.name}}
</a>
{{#each record.copis as |person index|}}{{if index ', '}}{{person.name}}{{/each}}
