{{! Format pi and copi list as pi / copi names. Click on PI to do something.}}

{{!TODO Formatting does not quite work becuase index returns same value for every element.}}

<button class='btn btm-sm' {{action 'sendAction' 'piSelected' record}}>{{record.pi.name}}</button>
{{#each record.copis as |person|}}{{if index ', '}}{{person.name}}{{/each}}
