{{! Format pi and copi list as pi / copi names. Click on PI to do something.}}

<a href='javascript:;' class='' {{action 'sendAction' 'piSelected' record}} title='Click to contact PI'>
  {{record.pi.displayName}}
</a>
{{#each record.coPis as |person index|}}{{if index ', '}}{{person.displayName}}{{/each}}
