<div class="row">
    <div class="card w-100 my-2">
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{policy.title}} <small>for Institution.</small></a>
            </h4>
            <h6 class="card-subtitle">Requires deposit into Institution</h6>
            <p class="card-text">
                {{policy.description}}<br><br>
                For more information, see their official policy below.
                <br><a href={{policy.url}}>{{policy.url}}URL goes here.</a>
            </p>
        </div>
    </div>
</div>
