<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">National Science Foundation (NSF) Public Access Policy</a>
            </h4>
            <h6 class="card-subtitle">Requires deposit into NSF Public Access Repository (NSF-PAR)</h6>
            <p class="card-text">
                You will need to fill in additional required metadata and attach a copy of the manuscript in order to
                submit to the NSF-PAR repository.
            </p>
        </div>
    </div>
</div>
