{{#if isShowingForm}}
    {{#modal-dialog
    onClose=(action (mut isShowingForm) false)
    translucentOverlay=true}}
      <h1>Click to persist resource!</h1>
      Too bad there is not an actual form.  We'll use defaults instead for now.
      <ul>
          <li><a href="https://github.com/toddjordan/ember-cli-dynamic-forms">ember-cli-dynamic-forms</a> seems to have conflicting dependencies</li>
          <li>Back to the drawing board</li>
      </ul>
      <button onclick={{action "cancelAndClose"}}>Cancel</button>
      <button onclick={{action "persistAndClose"}}>Save</button>
   {{/modal-dialog}}
{{/if}}
{{yield this}}