<h2>Submission Overview</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2">DOI</div>

        <div class="col-sm-10">
            {{submission.doi}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Title</div>

        <div class="col-sm-10">
            {{submission.title}}
        </div>
    </div>
</div>
{{yield}}