<hr>
<h3>NSF Public Access Repository (PAR)</h3>
<p>
  Below are the information required by NSF-PAR
</p>
<div class="container">
  <form>
    <div class="form-check row">
      <label class="col-sm-2 col-form-label"></label>
      <label class="form-check-label col-sm-10">
         <input id="acknowledgement" class="form-check-input" type="checkbox"> I acknowledge the
         Federal Government's license as set forth in the "Copyrighted
         Materials" article of the NSF General Grant Conditions.
      </label>
    </div>
  </form>
</div>
<p></p>
{{yield}}
