<h3>Public Access Gateway for Energy & Science (PAGES)</h3>
<p>
  The following are metadata fields pertinent to PAGES
</p>
<div class="container">
  <form>
    <div class="form-group row">
      <label for="pubcountry" class="col-sm-4 col-form-label">Country of Publication</label>
      <div class="col-sm-8">
        <input id="pubcountry" type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="primarylanguage" class="col-sm-4 col-form-label">Primary Language</label>
      <div class="col-sm-8">
        <input id="primarylanguage" type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="producttype" class="col-sm-4 col-form-label"> Product Type</label>
      <div class="col-sm-8">
        <select class="form-control" id="producttype">
          <option>Journal Article</option>
          <option>Books</option>
          <option>Others</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="researchorg" class="col-sm-4 col-form-label">Research Organization</label>
      <div class="col-sm-8">
        <input id="researchorg" type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="contributingorg" class="col-sm-4 col-form-label">Contributing Organizations (Comma separated)</label>
      <div class="col-sm-8">
        <textarea id="contributingorg" row="2" type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="reportnumber" class="col-sm-4 col-form-label">Report Number</label>
      <div class="col-sm-8">
        <input type="text" id="reportnumber" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="externallinks" class="col-sm-4 col-form-label">Links</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="externallinks">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-secondary btn-sm float-right">
         Add contact
       </button>
      </div>
    </div>
  </form>
</div>
{{yield}}
