 <div class="p-2">
   <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{stepInPercent}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
 </div>
