<nav>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            {{#link-to "submission.show.index" submission class="nav-link" }}
                Overview
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.funding" submission class="nav-link" }}
                Awards (Optional)
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.compliance" submission class="nav-link" }}
                Policies
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.repositories" submission class="nav-link" }}
                Repositories
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.metadata" submission class="nav-link" }}
                Metadata
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.attachments" submission class="nav-link" }}
                Files
            {{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "submission.show.submission" submission class="nav-link" }}
                Submission
            {{/link-to}}
        </li>
    </ul>
</nav>
