<h3>PAGES</h3>
<p>
    Let's submit to pages
</p>
<div class="container">
    <form>
        <div class="form-group row">
            <label for="abstract" class="col-sm-2 col-form-label">Abstract</label>

            <div class="col-sm-10">
                <textarea id="abstract" rows="4" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="volume" class="col-sm-2 col-form-label">Volume</label>

            <div class="col-sm-10">
                <input id="volume" type="text" class="form-control" />
            </div>
        </div>
    </form>
</div>
{{yield}}