<style>
  .status {
    font-weight: 700;
  }
  .wrapper {
    position: absolute;
    width: 115px;
  }
  .fas {
    padding-left: 4px;
  }
  .fa-clock {
    color: #ffc107;
  }
  .fa-pause-circle {
    color: #c8ced3;
  }
  .fa-check-circle {
    color: #4dbd74;
  }
  .fas {
    font-size: 1.6em;
  }
  .fa-clock.gray {
    color: #c8ced3;
  }
</style>

<div class="px-1 wrapper">
  <span class="pull-left text-center" style=" width:80%;">{{status}}</span>
  <span class="pull-right status {{record.aggregatedDepositStatus}}" style="width:20%;">
    {{#if (eq status "Accepted")}}<i class="fas fa-check-circle"></i>{{/if}}
    {{#if (eq status "In Progress")}}<i class="fas fa-clock"></i>{{/if}}
    {{#if (eq status "Not Started")}}<i class="fas fa-clock gray"></i>{{/if}}
  </span>
</div>
