<h2>Submission Overview</h2>
<div class="container-fluid">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>DOI</th>
                <td>{{submission.doi}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{submission.title}}</td>
            </tr>
            <tr>
                <th>Journal</th>
                <td>{{submission.journal.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

{{yield}}