{{yield}}
<div class="form-group col-md-12">
  <label>DOI:</label>
  {{input value=model.doi class="form-control" placeholder="DOI"}}
</div>
<div class="form-group col-md-12">
  <label>Title:</label>
  {{input value=model.title class="form-control" placeholder="Title"}}
</div>

<div class="form-group col-md-12">
  <label>Journal:</label>
  {{input value=model.journal class="form-control" placeholder="Journal"}}
</div>
