<div class="form-group">
    <p class="lead text-muted">
      Based on the information you provided so far, these are the public access
      policies that are applicable to your work:
    </p>
    {{#each policies as |policy|}}
      {{policy-card policy=policy journal=publication.journal}}
    {{/each}}
</div>

<button class="btn btn-outline-primary" {{action back}}>Back</button>
<button class="btn btn-outline-danger ml-2" {{action "cancel"}}>Abort</button>
<button class="btn btn-primary next pull-right" {{action next}}>Next</button>
