<div class="form-group row">
  <div class="col-md-12">
    <p>
      Based on the information you provided so far, these are the public access
      policies that are applicable to your work:
    </p>
    {{#each activePolicies as |policy|}}
      {{policy-card policy=policy journal=model.publication.journal removeNIHDeposit=removeNIHDeposit toggleRemoveNIHDeposit=(action 'toggleRemoveNIHDeposit')}}
    {{/each}}
  </div>
</div>

<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
<button class="btn btn-primary pull-right" {{action "next"}}>Next</button>
