<div class="covid-selection-banner mt-2 mb-2">
  <div class="checkbox-message">
    <input
      type="checkbox"
      class="mr-1"
      {{on "click" this.toggleCovidSubmission}}
      checked={{@submission.isCovid}}
      data-test-covid-selection-checkbox
    >
    <div>
      This submission pertains to COVID-19 research
    </div>
  </div>
  <a href="/faq.html">(What does this mean?)</a>
</div>