<h3>Submissions</h3>

{{models-table
  data=model.submissions
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
}}
{{#resource-form saveAction=(action "addSubmission") as |form|}}
    <button {{action 'editResource' (action "newSubmission") target=form}}>NEW SUBMISSION</button>
{{/resource-form}}
