@import url('font-awesome-5-0-13.css');
@import url('workflow-wrapper.css');
@import url('workflow-review.css');
@import url('grant-link-cell.css');
@import url('workflow-files.css');
@import url('find-journal.css');
@import url('message-dialog.css');
@import url('workflow-metadata.css');
@import url('oap-compliance-cell.css');
@import url('submission-action-cell.css');
@import url('submission-repo-details.css');
@import url('workflow-basics-user-search.css');

#dashboard-container .card {
  height: 100%;
}

.error-text {
  font-size: 2em !important;
  margin-bottom: 0;
  height: auto;
}

.helpful-text {
  font-size: 1.3em !important;
}

.error-icon {
  width: 120px;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
}

.info-banner {
  background-color: #f1c400;
  color: black;
  border: 0;
  border-radius: 0;
}

.info-banner a {
  color: var(--primary-700);
}

.covid-selection-banner {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  background-color: #f1c400;
  color: black;
  border: 2px;
  border-color: #ff9e1b;
  border-radius: 0;
  height: 35px;
}

.covid-selection-banner a {
  padding-left: 0.25rem;
  font-style: italic;
  color: var(--primary-700);
}

.covid-selection-banner a:hover {
  color: var(--primary-900);
}

.covid-selection-banner .checkbox-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (width <= 767px) {
  .covid-selection-banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    height: 3.75rem;
  }
}

@media (width <= 400px) {
  .covid-selection-banner {
    height: 5rem;
  }
}

/* Tables */
th.table-header > i {
  display: inline-flex;
  cursor: pointer;
  float: right;
}

/* stylelint-disable font-family-no-missing-generic-family-keyword */
th.table-header > i:not(.fa-sort-asc, .fa-sort-desc) {
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

th.table-header > i:not(.fa-sort-asc, .fa-sort-desc)::before {
  content: '\f0dc' !important;
}

/* stylelint-disable selector-class-pattern */
.globalSearch.input-group {
  max-width: 50%;
  margin-bottom: 16px;
}
/* stylelint-enable selector-class-pattern */

.table-nav.col-5 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.submission-details .row {
  padding: 6px 0;
}

.submission-funders .row {
  padding: 0;
}

.grant-details .row ul {
  padding-left: 35px;
}

.policies-list h6 {
  margin-bottom: 0.5em;
  font-weight: bold;
}

h6.card-subtitle {
  font-size: 1.1em;
}

.line-height-45 {
  line-height: 45px;
}

.unset-width {
  width: unset !important;
}

.table-bordered {
  border-color: var(--grey-light);
  border-bottom: 1px solid #dedede !important;
  border-left: none !important;
  border-right: none !important;
}

th {
  border-left: none !important;
  border-right: none !important;
}

.table thead th {
  border-bottom: 2px solid #dedede !important;
  border-top: 1px solid #dedede !important;
}

td {
  border: none !important;
  border-bottom: 1px solid #dedede !important;
  vertical-align: middle !important;
}

.models-table-wrapper tbody tr {
  background: #fdfdfd;
}

.site {
  display: flex;
  min-height: 100vh;
  min-width: 300px;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.row-eq-height {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
}

/* overrides bootstrap4 */
.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
  border: none;
}

.border-none {
  border: none !important;
}

.img-avatar {
  width: 30px;
  height: auto;
}

/* for use with ember sticky component addon */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.ember-modal-dialog {
  border-radius: 0;
}

.steps {
  height: 35px;
  display: flex;
  overflow: hidden;
  font-size: 0.6563rem;
  background-color: #f0f3f5;
  border: solid #a4b7c1 1px;
}

.steps button {
  border: none;
}

.steps .step {
  width: 15.2857%;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  cursor: pointer;
}

.steps .step:not(.btn-primary):hover {
  background: #e0e5e8;
}

.steps .active-step {
  background: #20a8d8;
  color: white;
}

/* Submission workflow */
#proxy-input-block {
  background-color: #f0f3f5;
  color: black;
}

#on-behalf-of-block {
  background-color: #f0f3f5;
  color: black;
}

.back-arrow {
  margin: 0;
  box-sizing: border-box;
}

.nav-item {
  font-size: 18px;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.modal-dialog {
  top: 30vh !important;
}

.file-description-width {
  min-width: 250px !important;
}

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.glyphicon {
  font-family: FontAwesome;
  font-style: normal;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

.glyphicon-plus-sign::before {
  content: '+';
}

.glyphicon-minus-sign::before {
  content: '–';
}

.glyphicon-chevron-up::before {
  content: '\22c0';
}

.glyphicon-chevron-down::before {
  content: '\22c1';
}

.glyphicon-info-sign::before {
  content: '\f05a';
}

.help-block {
  display: none;
  font-size: 14px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #eff7fb !important;
}

.date-time-picker input {
  max-width: 400px;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
  appearance: none;
}

.swal2-container {
  z-index: 99999 !important;
}

.swal2-radio {
  display: block !important;
}

.swal2-radio label .swal2-label {
  font-size: 1rem !important;
}

.swal2-radio label:not(:last-child) {
  margin-bottom: 4px !important;
}

#on-behalf-of-block label {
  margin-bottom: 0;
}

body {
  font-size: 1em !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1 {
  font-size: 1.7rem !important;
}

h2 {
  font-size: 1.4rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

.notice-triangle {
  color: #b0b0b0;
}

.slide {
  margin: auto;
}

table td {
  border: 1px dotted silver;
  word-break: break-word !important;
}

.flash-message-container {
  position: absolute;
  top: 0;
  right: 0;
}

.flash-message-container .alert {
  z-index: 10000;
  width: 500px;
  border-radius: 2px;
  opacity: 0;
  top: 30px; /* 30px from the bottom */
  right: 30px;
  position: relative;
  transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.flash-message-container .alert.active {
  opacity: 1;
  right: 30px;
}

.flash-message-container .alert.active.exiting {
  opacity: 0;
  right: 30px;
}

.padding-lr-100 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

.agency-size {
  height: 25%;
}

@media (width <= 760px) {
  .navbar .navbar-brand {
    justify-content: center;
    margin: auto;
  }
}

.container-fluid {
  max-width: 1300px;
}

/* Tables */
.grant-table table th {
  min-width: 100px;
  font-size: 0.9em;
}

.projectname-column {
  min-width: 12.5rem;
}

.title-column {
  min-width: 20rem;
  max-width: 22rem;
}

.msid-column {
  min-width: 10rem;
}

.actions-column {
  min-width: 8rem;
}

.awardnum-column {
  min-width: 8rem;
}

.awardnum-funder-column {
  min-width: 9.5rem;
}

.status-column {
  min-width: 7.6rem;
}

.funder-column {
  min-width: 9.5rem;
  max-width: 12.5rem;
}

.date-column {
  min-width: 7rem;
}

.repositories-column {
  min-width: 7.5rem;
}

.projectname-date-column {
  min-width: 14rem;
}

/* hides the "clear" button on models table search bar */
.models-table-wrapper.input-group span.input-group-btn {
  visibility: hidden;
}

[tooltip] {
  position: relative;
  display: inline-block;
}

[tooltip]::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0;
  border-style: solid;
  border-color: rgb(0 0 0 / 70%) transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translateY(-50%) rotate(-90deg);
}

[tooltip-position='top']::before {
  left: 50%;
}

[tooltip-position='bottom']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(-100%) rotate(-180deg);
}

[tooltip-position='right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translateY(-50%) rotate(90deg);
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgb(0 0 0 / 70%);
  text-align: center;
  color: #fff;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
  min-width: 200px;
}

[tooltip-position='top']::after {
  left: 50%;
  min-width: 200px;
}

[tooltip-position='bottom']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
  min-width: 200px;
}

[tooltip-position='right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
  min-width: 200px;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):focus-visible {
  box-shadow:
    0 0 0 0.0625em #fff,
    0 0 0 0.125em rgb(50 100 150 / 40%) !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel):focus-visible {
  box-shadow:
    0 0 0 0.0625em #fff,
    0 0 0 0.125em rgb(50 100 150 / 40%) !important;
}

.swal2-confirm {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  padding: 0.625em 2em;
  /* stylelint-disable-next-line prettier/prettier */
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background-color: #418fde !important;
  border-color: #418fde !important;
  color: white !important;
}

.swal2-cancel {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  padding: 0.625em 2em;
  /* stylelint-disable-next-line prettier/prettier */
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  color: #151b1e !important;
  background-color: #a4b7c1 !important;
  border-color: #a4b7c1 !important;
}

.nodata-placeholder {
  display: block;
  font-style: italic;
}

footer {
  min-height: 100px;
}

.repoid-cell {
  list-style: none;
  margin: 0;
  padding: 0;
}

.repoid-cell li {
  word-break: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

#journal div {
  width: 100%;
}

.block-user-input {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: --var(primary);
  min-width: 100%;
  min-height: 100%;
  display: none;
}

.block-user-input .fa-spinner {
  font-size: 40px;
  margin: auto;
  position: absolute;
  top: 52%;
  left: 48%;
}

/* Spinny things */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.do-spin {
  animation: spin 1s infinite linear;
}

.lds-dual-ring {
  margin-top: 300px;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring::after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #005eb8;
  border-color: #005eb8 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-sm {
  margin-top: 300px;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.lds-dual-ring-sm::after {
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  margin: 1px;
  border-radius: 50%;
  border: 2.5px solid #005eb8;
  border-color: #005eb8 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vertical-text {
  display: inline-flex !important;
  align-items: center !important;
}

/* status buttons */
.status .fas {
  display: inline;
  font-size: 0.8em;
  opacity: 0.9;
  width: 15%;
  padding-right: 0.2rem;
}

.manuscript-required > .fa-circle,
.manuscript-required .fa-info-circle,
.approval-requested > .fa-circle,
.approval-requested .fa-info-circle,
.changes-requested > .fa-circle,
.changes-requested .fa-info-circle,
.needs-attention > .fa-circle,
.needs-attention .fa-info-circle,
.stalled > .fa-circle,
.stalled .fa-info-circle,
.failed > .fa-circle,
.failed .fa-info-circle,
.retry > .fa-circle,
.retry .fa-info-circle,
.rejected > .fa-circle,
.rejected .fa-info-circle {
  color: #ff9e1b;
}

.cancelled > .fa-circle,
.cancelled .fa-info-circle,
.not-submitted > .fa-circle,
.not-submitted .fa-info-circle {
  color: #a7bcd6;
}

.submitted > .fa-circle,
.submitted .fa-info-circle,
.complete > .fa-circle,
.complete .fa-info-circle {
  color: #00ab8e;
}

.draft > .fa-circle,
.draft .fa-info-circle {
  color: var(--grey-dark);
}

.ember-modal-dialog.user-search-modal {
  width: 90%;
  min-width: 20rem;
  max-width: 60rem;
  min-height: 25rem;
}

.user-search-results .col-6 {
  max-width: 100%;
}

#grants-selection-nav ul li a {
  color: black !important;
  background-color: white;
}

#submission-details-body table,
#submission-details-body th,
#submission-details-body td {
  border-width: 0 !important;
  border-style: none !important;
  border-color: transparent !important;
}

/* Row selection in ember-models-table */
#grants-selection-table tr:hover td {
  background-color: #eee;
  cursor: pointer;
}

a.navbar-brand:hover {
  text-decoration: none !important;
}

#navbar-supported-content a:hover {
  text-decoration: none !important;
}

#grants-selection-nav ul li.active a {
  color: white !important;
  background-color: #418fde;
}

.deposit-agreement-content {
  height: 500px;
  overflow: auto;
  background-color: var(--grey-light);
}

.grant-item {
  padding: 10px 0; /* Add padding if needed */
}

.grant-item:not(:last-child) {
  border-bottom: 1px solid #ccc; /* Add a bottom border except for the last item */
}

/* Reset border-radius for common UI elements */
/* stylelint-disable selector-class-pattern */
.ember-basic-dropdown-trigger,
.btn,
.form-control,
.card,
.alert,
.modal-content,
.dropdown-menu,
.input-group-text,
.nav-pills .nav-link,
.sd-element--with-frame,
.list-group-item,
.badge {
  border-radius: 0 !important;
}

.btn:hover {
  text-decoration: none !important;
}
