
// @import "ember-cli-bootstrap-4/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

$jhu-grey: #E5E2E0;
$jhu-grey2: #B4B2AD;
$jhu-grey3: #7E7E7C;

$jhu-blue: #005EB8;
$jhu-blue1: #418FDE;
$jhu-blue2: #68ACE5;
$jhu-weird-bluegreen: #6399AE;

$jhu-red: #E03C31;

$color-bg-primary: #002D72;

$color-text-primary: #fff;
$color-text-secondary: $jhu-grey2;

$transition-duration: 0.3s;

/* Override things with JHU rules */
body {
  background-color: #f5f4f3;
}
a {
  color: $jhu-blue;
}

primary-skin {
  background-color: $color-bg-primary !important;
  color: $color-text-primary !important;
}
header {
  margin-bottom: 24px;
  .pass-title {
    padding:0;
    span {
      font-size: 1.2em;
    }
  }
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    img {
      width: 250px;
      margin: 0 24px;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 0 1rem;
    color: $jhu-blue2;
    border-right: 1px solid $jhu-grey3;
    &:hover {
      color: $jhu-grey;
    }
    &.borderless {
      border: 0;
    }
  }
}
.nav-link:hover {
  color: $color-text-secondary;
}
.text-info {
  color: $jhu-weird-bluegreen !important;
}

/* Buttons */
.btn-outline-info {
  color: $jhu-weird-bluegreen;
  border-color: $jhu-weird-bluegreen;
  &:hover {
    color: $color-text-primary;
    background-color: $jhu-weird-bluegreen;
    border-collapse: $jhu-weird-bluegreen;
  }
}

/* Tables */
.table-bordered {
  border-color: $jhu-grey;
}
th.table-header {
  & > i {
    display: inline-flex;
    cursor: pointer;
    float: right;
    color: $jhu-grey3;
  }
  & > i:not(.fa-sort-asc):not(.fa-sort-desc) {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    &:before {
      content: "\f0dc" !important;
    }
  }
}
.models-table-wrapper .globalSearch {
  & span.input-group-addon {
    margin-top: 0.2rem;
  }
  & .filterString {
    height: 2rem;
    width: 30rem;
    max-width: 70%;
    margin: 0 0 1em 12px;
  }
}
.submission-details .row {
  padding: 6px 0;
}
.submission-funders .row {
  padding: 0;
}

.policies-list {
  h6 {
    margin-bottom: .5em;
    // font-weight: bold;
  }
}
.clearFilterIcon {
  height:32px;
}
.line-height-45 {
  line-height: 45px;
}
.unset-width {
  width: unset!important;
}
.custom-color {
  color:white!important;
  border:none!important;
}
.table-bordered {
    border-bottom: 1px solid #a4b7c1!important;
    border-left: none!important;
    border-right: none!important;
}
th {
  border-left: none!important;
  border-right: none!important;
}
td {
  border: none!important;
  border-bottom: 1px solid #a4b7c1!important;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-size: 1em;
}

// overrides bootstrap4
.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
  border: none;
}

.border-none {
  border: none!important;
}

.img-avatar {
  width: 30px;
}

.custom-header {
 background:url(https://image.ibb.co/gx84Uc/JHU.jpg) repeat-x 0 0;
 text-align:center;
 width:100%;
 height:425px;
 background-repeat:no-repeat;
 background-size:cover;
}

// for use with ember sticky component addon
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.ember-modal-dialog {
  border-radius: 0px;
}

.alpaca-invalid {
  & > input, & > textarea, & > select {
    border-color: #f86c6b;
  }
}

.alpaca-message-notOptional {
  display:none;
}

@media (max-width: 760px) {
  .navbar .navbar-brand {
      justify-content: center;
      margin: auto;
  }
}
