
@import "ember-cli-bootstrap-4/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

$jhu-grey: #E5E2E0;
$jhu-grey2: #B4B2AD;
$jhu-grey3: #7E7E7C;
$jhu-grey4: #4A484C;
$jhu-grey5: #2C2C33;

$jhu-blue: #005EB8;
$jhu-blue1: #418FDE;
$jhu-blue2: #68ACE5;
$jhu-weird-bluegreen: #6399AE;

$jhu-red: #E03C31;
$jhu-red1: #CF4520;
$jhu-red2:#E8927C;

$color-bg-primary: #002D72;

$color-text-primary: #fff;
$color-text-secondary: $jhu-grey2;

$transition-duration: 0.3s;

/* Override things with JHU rules */
body {
  background-color: #f5f4f3;
}
a {
  color: $jhu-blue;
}

header {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  margin-bottom: 24px;
  .pass-title {
    padding: 12px 0 0 24px;
    span {
      font-size: 1.2em;
    }
  }
  .navbar {
    background-color: $color-bg-primary !important;
    padding-top: 0;

    .navbar-text {
      color: $color-text-primary;
    }
  }
  .navbar-brand {
    img {
      width: 250px;
      margin: 0 24px;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 0 1rem;
    color: $jhu-blue2;
    border-right: 1px solid $jhu-grey3;
    &:hover {
      color: $jhu-grey;
    }
    &.borderless {
      border: 0;
    }
  }
}
.nav-link:hover {
  color: $color-text-secondary;
}
.nav-pills .nav-link.active {
  color: $color-text-primary;
  background-color: $jhu-blue1;
}
.text-info {
  color: $jhu-weird-bluegreen !important;
}

/* Buttons */
.btn-outline-info {
  color: $jhu-weird-bluegreen;
  border-color: $jhu-weird-bluegreen;
}
.btn-outline-info:hover {
  color: $color-text-primary;
  background-color: $jhu-weird-bluegreen;
  border-collapse: $jhu-weird-bluegreen;
}
.btn-primary {
  background-color: $jhu-blue1;
  border-color: $jhu-blue1;
}
.btn-primary:hover {
  background-color: $jhu-blue;
  border-color: $jhu-blue;
}
.btn-primary:not([disabled]):not(.disabled):active {
  box-shadow: 0 0 0.2rem $jhu-blue2;
}

/* Tables */
.table-bordered {
  border-color: $jhu-grey;
}
th.table-header {
  & > i {
    display: inline-flex;
    cursor: pointer;
    float: right;
    color: $jhu-grey3;
  }
  & > i:not(.fa-sort-asc):not(.fa-sort-desc) {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    &:before {
      content: "\f0dc" !important;
    }
  }
}
.models-table-wrapper .globalSearch {
  & span.input-group-addon {
    margin-top: 0.2rem;
  }
  & .filterString {
    height: 2rem;
    width: 30rem;
    max-width: 70%;
    margin: 0 0 1em 12px;
  }
}
.btn-remove {
  // transition-duration: $transition-duration; // Adding this transition introduces some odd (and temporary) column resizing
  cursor: pointer;
  padding: 0.65em;
  border-radius: 5px;
  margin: 0 2px;
  color: $jhu-red;
  &:hover {
    transition-duration: $transition-duration;
    border: 1px solid;
    margin: 0;
    background-color: $jhu-red;
    color: white;
  }
}
