
// @import "ember-cli-bootstrap-4/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

// Font-faces decaled in 'index.html' for now, so {{rootURL}} can be used

$jhu-grey: #E5E2E0;
$jhu-grey2: #B4B2AD;
$jhu-grey3: #7E7E7C;

$jhu-blue: #005EB8;
$jhu-blue1: #418FDE;
$jhu-blue2: #68ACE5;
$jhu-weird-bluegreen: #6399AE;

$jhu-red: #E03C31;

$color-bg-primary: #002D72;

$color-text-primary: #fff;
$color-text-secondary: $jhu-grey2;

$transition-duration: 0.3s;

#dashboard-container .card {
  height: 100%;
}

#on-behalf-of-block label {
  margin-bottom: 0;
}

.info-banner {
  background-color: #F1C400;
  color: black;
  border: 0;
  border-radius: 0;
}

.covid-selection-banner {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  background-color: #F1C400;
  color: black;
  border: 2px;
  border-color: #FF9E1B;
  border-radius: 0;
  height: 35px;
  overflow: auto;
  a {
    padding-left: 0.25rem;
    font-style: italic;
  }
  .checkbox-message {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .covid-selection-banner {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    height: 3.75rem;
  }
}
@media (max-width: 400px) {
  .covid-selection-banner {
    height: 5rem;
  }
}

/* Tables */
.table-bordered {
  border-color: $jhu-grey;
}
th.table-header {
  & > i {
    display: inline-flex;
    cursor: pointer;
    float: right;
  }
  & > i:not(.fa-sort-asc):not(.fa-sort-desc) {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    &:before {
      content: "\f0dc" !important;
    }
  }
}

.models-table-wrapper .globalSearch {
  & span.input-group-addon {
    margin-top: 0.2rem;
  }
  & .filterString {
    height: 2rem;
    width: 30rem;
    max-width: 70%;
    margin: 0 0 1em 12px;
  }
}
.submission-details .row {
  padding: 6px 0;
}
.submission-funders .row {
  padding: 0;
}
.grant-details .row ul {
  padding-left: 35px;
}

.policies-list {
  h6 {
    margin-bottom: .5em;
    font-weight: bold;
  }
}
h6.card-subtitle {
  font-size: 1.1em;
}
.clearFilterIcon {
  height:32px;
}
.line-height-45 {
  line-height: 45px;
}
.unset-width {
  width: unset!important;
}

.table thead th {
  border-bottom: 2px solid #dedede!important;
  border-top: 1px solid #dedede!important;
}

.table-bordered {
  border-bottom: 1px solid #dedede!important;
  border-left: none!important;
  border-right: none!important;
}
th {
  border-left: none!important;
  border-right: none!important;
}
td {
  border: none!important;
  border-bottom: 1px solid #dedede!important;
  vertical-align: middle!important;
}

.models-table-wrapper tbody tr {
  background:#fdfdfd;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// overrides bootstrap4
.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
  border: none;
}

.border-none {
  border: none!important;
}

.img-avatar {
  width: 30px;
  height: auto;
}

// for use with ember sticky component addon
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.ember-modal-dialog {
  border-radius: 0px;
}

.steps {
  height:35px;
  display: flex;
  overflow: hidden;
  font-size: 0.65625rem;
  background-color: #f0f3f5;
  border: solid #a4b7c1 1px;

  button {
    border: none;
  }

  .step {
    width: 15.2857%;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    cursor: pointer;
  }

  .step:not(.btn-primary):hover {
    background: #e0e5e8;
  }

  .active-step {
    background: #20a8d8;
    color:white;
  }
}

.back-arrow {
  margin: 0px;
  padding: 1px!important;
  padding-bottom: 11px!important;
  box-sizing: border-box;
}
.nav-item {
  font-size: 18px;
}
.vertical-align-middle {
  vertical-align:middle !important;
}
.modal-dialog {
  top: 30vh!important;
}
.file-description-width {
  min-width: 250px !important;
}
////////////////////////////
// Custom alpaca css for bs4
////////////////////////////

.alpaca-invalid {
  & > input, & > textarea, & > select {
    border-color: #f86c6b;
  }
}

.alpaca-message-notOptional {
  display:none;
}

.alpaca-required-indicator {
  margin-left: 5px;
  color: #777;
  font-size: 80%;
}

.glyphicon {
  font-family: "FontAwesome";
  font-style: normal;
}
.glyphicon-plus-sign:before{
  content: "\f067";
}
.glyphicon-minus-sign:before{
  content: "\f068";
}
.glyphicon-chevron-up:before{
  content: "\f077";
}
.glyphicon-chevron-down:before{
  content: "\f078";
}
.glyphicon-info-sign:before {
  content: "\f05a";
}

.alpaca-container {
  width: 100%;
}
.alpaca-container .md-pubtype {
  label {
    display: block;
  }
  .radio input[type="radio"] {
    margin: 0 8px;
  }
}

.help-block {
  display: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #eff7fb!important;
}

.date-time-picker input {
  max-width: 400px;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.swal2-container {
  z-index: 99999 !important;
}

////////////////////////////
// End Alpaca
////////////////////////////


////////////////////////////
// Custom JHU Colors
////////////////////////////
$primary-color: #418FDE;
$danger-color: #f86c6b;
$navbar-color: #005EB8;
body {
  font-size: 1em !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
h1 {
  font-size: 1.7rem!important;
}
h2 {
  font-size: 1.4rem!important;
}
h3 {
  font-size: 1.3rem!important;
}

////////////////////////////
// End Custom JHU Colors
////////////////////////////

.notice-triangle {
  color: #b0b0b0;
}

.slide {
  // width:130px!important;
  margin:auto;
}
table td {
  border: 1px dotted silver;
  word-break: break-word!important;
}

#toast-container > div {
  opacity: 0.9;
  border-radius: 2px
}
.padding-lr-100 {
  padding-left: 140px!important;
  padding-right: 140px!important;
}

.agency-size {
  height:25%;
}
@media (max-width: 760px) {
  .navbar .navbar-brand {
      justify-content: center;
      margin: auto;
  }
}
.container-fluid {
  max-width: 1300px;
}

// Tables
.grant-table table {
  th {
    min-width: 100px;
    font-size:0.9em;
  }
}

.projectname-column {
  min-width: 12.5rem;
}
.title-column {
  min-width: 20rem;
  max-width: 22rem;
}
.msid-column { min-width: 10rem; }
.actions-column { min-width: 8rem; }
.awardnum-column { min-width: 8rem; }
.awardnum-funder-column {
  min-width: 9.5rem;
}
.status-column {min-width: 7.6rem;}
.funder-column {
  min-width: 9.5rem;
  max-width: 12.5rem;
}
.date-column { min-width: 7rem; }
.repositories-column { min-width: 7.5rem; }
.projectname-date-column {
  min-width: 14rem;
}

.models-table-wrapper { // hides the "clear" button on models table search bar
  .input-group span.input-group-btn {
    visibility: hidden;
  }
}

[tooltip]{
  position:relative;
  display:inline-block;
}
[tooltip]::before {
  content: "";
  position: absolute;
  top:-6px;
  left:50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
  z-index: 99;
  opacity:0;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg)
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:-6px;
  transform: translateX(-50%)   translateY(-100%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding:4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index:99;
  opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
  min-width: 200px;
}
[tooltip-position='top']::after{
  left:50%;
  min-width: 200px;
}
[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
  min-width: 200px;
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
  min-width: 200px;
}

[tooltip]:hover::after,[tooltip]:hover::before {
  opacity:1
}

.help-block {
  font-size:14px;
}

.swal2-confirm {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  background-color: #418FDE !important;
  border-color: #418FDE !important;
  color: white !important;
  margin: 0px 5px;
}

.swal2-cancel {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #151b1e!important;;
  background-color: #a4b7c1!important;;
  border-color: #a4b7c1!important;;
  margin: 0px 5px;
}

.nodata-placeholder {
  display: block;
  font-style: italic;
}

footer {
  min-height:100px;
}

.site {
  min-width:300px;
}

.repoid-cell {
  list-style: none;
  margin: 0;
  padding: 0;
}
.repoid-cell li {
  word-break: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}
#journal div {
  width: 100%;
}

.block-user-input {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(224, 224, 224, 0.2);
  min-width: 100%;
  min-height: 100%;
  display:none;
}

.block-user-input .fa-spinner{
  font-size: 40px;
  margin: auto;
  position: absolute;
  top: 52%;
  left: 48%;
}

// Spinny things
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.do-spin {
  animation: spin 1s infinite linear;
}

.lds-dual-ring {
  margin-top: 300px;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #005eb8;
  border-color: #005eb8 transparent #005eb8 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vertical-text {
  display: inline-flex!important;
  align-items: center!important;
}

// status buttons
.status .fas {
  display: inline;
  font-size: 0.8em;
  opacity: 0.9;
  width: 15%;
  padding-right:0.2rem;
}
.manuscript-required>.fa-circle, .manuscript-required .fa-info-circle,
.approval-requested>.fa-circle, .approval-requested .fa-info-circle,
.changes-requested>.fa-circle, .changes-requested .fa-info-circle,
.needs-attention>.fa-circle, .needs-attention .fa-info-circle,
.stalled>.fa-circle, .stalled .fa-info-circle,
.failed>.fa-circle, .failed .fa-info-circle,
.rejected>.fa-circle, .rejected .fa-info-circle {
  color: #FF9E1B;
}
.cancelled>.fa-circle, .cancelled .fa-info-circle,
.not-submitted>.fa-circle, .not-submitted .fa-info-circle {
  color: #A7BCD6;
}
.submitted>.fa-circle, .submitted .fa-info-circle,
.complete>.fa-circle, .complete .fa-info-circle {
  color: #00AB8E;
}
.draft>.fa-circle, .draft .fa-info-circle {
  color: $jhu-grey3;
}
.ember-modal-dialog.user-search-modal {
  width: 90%;
  min-width: 20rem;
  max-width: 60rem;
  min-height: 25rem;
}
.user-search-results .col-6 {
  max-width:100%;
}

// Row selection in ember-models-table
#grants-selection-table tr:hover td {
  background-color: #eeeeee;
  cursor: pointer;
}

#grants-selection-nav ul li.active a {
  color: white !important;
  background-color: #418FDE;
}

#grants-selection-nav ul li a {
  color: black !important;
  background-color: white;
}

.deposit-agreement-content {
  height: 500px;
  overflow: auto;
  background-color: $jhu-grey;
}
