
// @import "ember-cli-bootstrap-4/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

@font-face {
    font-family: "gentona-light";
    src:url("/fonts/Gentona-Light.ttf");
}

@font-face {
    font-family: "quadon-black";
    src:url("/fonts/Quadon-Regular.ttf");
}

$jhu-grey: #E5E2E0;
$jhu-grey2: #B4B2AD;
$jhu-grey3: #7E7E7C;

$jhu-blue: #005EB8;
$jhu-blue1: #418FDE;
$jhu-blue2: #68ACE5;
$jhu-weird-bluegreen: #6399AE;

$jhu-red: #E03C31;

$color-bg-primary: #002D72;

$color-text-primary: #fff;
$color-text-secondary: $jhu-grey2;

$transition-duration: 0.3s;

/* Override things with JHU rules */
body {
  background-color: #f5f4f3;
}
a {
  color: $jhu-blue;
}

primary-skin {
  background-color: $color-bg-primary !important;
  color: $color-text-primary !important;
}
header {
  margin-bottom: 24px;
  .pass-title {
    padding:0;
    span {
      font-size: 1.2em;
    }
  }
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    img {
      width: 250px;
      margin: 0 24px;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 0 1rem;
    color: $jhu-blue2;
    border-right: 1px solid $jhu-grey3;
    &:hover {
      color: $jhu-grey;
    }
    &.borderless {
      border: 0;
    }
  }
}
.nav-link:hover {
  color: $color-text-secondary;
}
.text-info {
  color: $jhu-weird-bluegreen !important;
}

/* Buttons */
.btn-outline-info {
  color: $jhu-weird-bluegreen;
  border-color: $jhu-weird-bluegreen;
  &:hover {
    color: $color-text-primary;
    background-color: $jhu-weird-bluegreen;
    border-collapse: $jhu-weird-bluegreen;
  }
}

/* Tables */
.table-bordered {
  border-color: $jhu-grey;
}
th.table-header {
  & > i {
    display: inline-flex;
    cursor: pointer;
    float: right;
    color: $jhu-grey3;
  }
  & > i:not(.fa-sort-asc):not(.fa-sort-desc) {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    &:before {
      content: "\f0dc" !important;
    }
  }
}

.fa-arrow-left {
  color: #ccc;
}

.models-table-wrapper .globalSearch {
  & span.input-group-addon {
    margin-top: 0.2rem;
  }
  & .filterString {
    height: 2rem;
    width: 30rem;
    max-width: 70%;
    margin: 0 0 1em 12px;
  }
}
.submission-details .row {
  padding: 6px 0;
}
.submission-funders .row {
  padding: 0;
}

.policies-list {
  h6 {
    margin-bottom: .5em;
    font-weight: bold;
  }
}
h6.card-subtitle {
  font-size: 1.1em;
}
.clearFilterIcon {
  height:32px;
}
.line-height-45 {
  line-height: 45px;
}
.unset-width {
  width: unset!important;
}
.custom-color {
  color:white!important;
  border:none!important;
}

.table thead th {
  border-bottom: 2px solid #dedede!important;
  border-top: 1px solid #dedede!important;
}

.table-bordered {
    border-bottom: 1px solid #dedede!important;
    border-left: none!important;
    border-right: none!important;
}
th {
  border-left: none!important;
  border-right: none!important;
}
td {
  border: none!important;
  border-bottom: 1px solid #dedede!important;
  vertical-align: middle!important;
}

.models-table-wrapper tbody tr {
  background:#fdfdfd;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// overrides bootstrap4
.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
  border: none;
}

.border-none {
  border: none!important;
}

.img-avatar {
  width: 30px;
  height: auto;
}

.custom-header {
 background:url(https://image.ibb.co/gx84Uc/JHU.jpg) repeat-x 0 0;
 text-align:center;
 width:100%;
 height:425px;
 background-repeat:no-repeat;
 background-size:cover;
}

// for use with ember sticky component addon
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.ember-modal-dialog {
  border-radius: 0px;
}

.steps {
  height:35px;
  display: flex;
  overflow: hidden;
  font-size: 0.65625rem;
  background-color: #f0f3f5;
  border: solid #a4b7c1 1px;
}

.step {
  width: 15.2857%;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  cursor: pointer;
}

.step:hover{
  background: #e0e5e8;
}

.active-step {
  background: #20a8d8;
  color:white;
}
.back-arrow {
  margin: 0px;
  padding: 1px!important;
  padding-bottom: 11px!important;
  box-sizing: border-box;
}
.nav-item {
  font-size: 18px;
}
.vertical-align-middle {
  vertical-align:middle !important;
}
.modal-dialog {
  top: 30vh!important;
}
.file-description-width {
  min-width: 250px !important;
}
////////////////////////////
// Custom alpaca css for bs4
////////////////////////////

.alpaca-invalid {
  & > input, & > textarea, & > select {
    border-color: #f86c6b;
  }
}

.alpaca-message-notOptional {
  display:none;
}

.alpaca-required-indicator {
  margin-left: 5px;
  color: #777;
}

.glyphicon {
  font-family: "FontAwesome";
}
.glyphicon-plus-sign:before{
  content: "\f067";
}
.glyphicon-minus-sign:before{
  content: "\f068";
}
.glyphicon-chevron-up:before{
  content: "\f077";
}
.glyphicon-chevron-down:before{
  content: "\f078";
}
.glyphicon-info-sign:before {
  content: "\f05a";
}

.alpaca-field-array .alpaca-container-label {
  font-size: 1em!important;
}
.alpaca-array-actionbar-bottom {
  margin-top:-25px;
}

.alpaca-array-actionbar-top {
  float: right;
  margin-right: -130px;
}
[data-alpaca-container-item-name*="authors_"] {
  width: 100%;
}
[data-alpaca-container-item-name*="authors_"] > div > div:nth-child(2) > div  {
  width: 100%;
  display: flex;
  flex-direction: row;
}
[data-alpaca-container-item-name*="authors_"] > div > div:nth-child(2) > div > div:nth-child(odd)   {
  margin-right: 2px;
}
[data-alpaca-container-item-name*="authors_"] > div > div:nth-child(2) > div > div:nth-child(even)   {
  margin-left: 2px;
}

@media (max-width: 1200px) {
  .alpaca-array-actionbar-top {
    float: left;
    margin-right: 0;
    margin-bottom: 3px;
  }
  [data-alpaca-container-item-name*="authors_"] > div > div:nth-child(2) > div  {
    width: 100%;
  }
}

////////////////////////////
// End Alpaca
////////////////////////////


////////////////////////////
// Custom JHU Colors
////////////////////////////
$primary-color: #418FDE;
$danger-color: #f86c6b;
$navbar-color: #005EB8;
body {
  font-family:  gentona-light,sans-serif!important;
  font-size: 1em !important;
  color:#2C2C33 !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 {
  font-family:  quadon-black,serif!important;
}
h1 {
  font-size: 1.7rem!important;
}
h2 {
  font-size: 1.4rem!important;
}
h3 {
  font-size: 1.3rem!important;
}


a {
  color: $navbar-color !important;
}
.navbar {
  background:$navbar-color;
}
.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color:white !important;
}
.btn-outline-primary {
  border-color: $primary-color !important;
  color: $primary-color !important;
}
.btn-outline-primary:hover {
  background-color: $primary-color !important;
  color: white !important;
}
.btn-danger	{
  color: white !important;
  background-color: $danger-color !important;
}
.badge-danger {
  color: white !important;
  background-color: $danger-color !important;
}
.btn-link {
  color: $primary-color !important;
}
.btn {
  font-size: 1em !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-light .navbar-nav .dropdown-toggle {
  color: #2C2C33 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .navbar .show > .dropdown-toggle, .navbar .navbar-light .navbar-nav .show > .dropdown-toggle, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .navbar .active > .dropdown-toggle, .navbar
 .navbar-light .navbar-nav .active > .dropdown-toggle, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .navbar .show.dropdown-toggle, .navbar
 .navbar-light .navbar-nav .show.dropdown-toggle, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .navbar .active.dropdown-toggle, .navbar
 .navbar-light .navbar-nav .active.dropdown-toggle {
  font-weight: bold;
  color: #4A484C !important;
}

.jhu-logo {
  height: 110px;
  margin-top: -10px;
  margin-right: -35px;
  margin-bottom: -10px;
}

h1, h2 {
  color: #4A484C !important
}
////////////////////////////
// End Custom JHU Colors
////////////////////////////

.notice-triangle {
  color: #b0b0b0;
}

.slide {
  // width:130px!important;
  margin:auto;
}
table td {
  border: 1px dotted silver;
  word-break: break-word!important;
}

#toast-container > div {
  opacity: 0.9;
  border-radius: 2px
}
.padding-lr-100 {
  padding-left: 140px!important;
  padding-right: 140px!important;
}

.agency-size {
  height:25%;
}
@media (max-width: 760px) {
  .navbar .navbar-brand {
      justify-content: center;
      margin: auto;
  }
}
.container-fluid {
  max-width: 1300px;
}

// Tables
.submission-table {
  // overflow-x: auto;
}
.grant-table table {
  th {
    min-width: 100px;
    font-size:0.9em;
  }
  tbody tr td:nth-of-type(1)>div {
    min-width: 200px;
    max-width:250px;
  }
  tbody tr td:nth-of-type(2) {
    min-width: 150px;
    max-width:200px;
  }

}

.submission-table {
  table tbody tr td:nth-of-type(6) div,
  table tbody tr td:nth-of-type(5) div,
  table tbody tr td:nth-of-type(4) div {
    // min-width: 100%;
    width: 100px;
  }
  table tbody tr td:nth-of-type(1) div {
    min-width: 200px;
    max-width: 350px;
  }
}

.models-table-wrapper { // hides the "clear" button on models table search bar
  .input-group span.input-group-btn {
    visibility: hidden;
  }
}

[tooltip]{
  position:relative;
  display:inline-block;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}


[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg)
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:-6px;
  transform: translateX(-50%)   translateY(-100%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding:4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index:99;
  opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.help-block {
  font-size:14px;
}

.swal2-confirm {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  background-color: #418FDE !important;
  border-color: #418FDE !important;
  color: white !important;
  margin: 0px 5px;
}

.swal2-cancel {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #151b1e!important;;
  background-color: #a4b7c1!important;;
  border-color: #a4b7c1!important;;
  margin: 0px 5px;
  }

.nodata-placeholder {
  display: block;
  font-style: italic;
}
