.error-text {
  font-size: 2em !important;
  margin-bottom: 0;
  height: auto;
}

.helpful-text {
  font-size: 1.3em !important;
}

.error-icon {
  width: 120px;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
}
