{{#if this.displayInfoBanner}}
  <nav class="info-banner p-1 text-center font-weight-bold">
    Need help making a submission? Read our submission workflow
    <a class="instructions-url" href={{this.instructionsUrl}} target="_blank" rel="noopener noreferrer">
      instructions
    </a>
    {{#if this.contactUrl}}
      or
      <a class="contact-us-url" href={{this.contactUrl}} target="_blank" rel="noopener noreferrer">
        contact us
      </a>
    {{/if}}
    .
  </nav>
{{/if}}