@import url('https://use.typekit.net/ftn5sdd.css');

:root {
  --primary-500: #002d72;
  --primary-600: #002d72;

  --secondary-500: #002d72;

  --font-headline: 'proxima-nova,', Sans-Serif;
  --font-subhead: 'proxima-nova,', Sans-Serif;
  --font-bodycopy-accent: 'proxima-nova,', Sans-Serif;
  --font-bodycopy: 'proxima-nova,', Sans-Serif;
  --font-family-sans-serif: 'proxima-nova,', Sans-Serif;
}
