@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-500: #f88d2b;
  --primary-600: #e37108;

  --secondary-500: #3d3935;

  --font-headline: 'Roboto', san serif;
  --font-subhead: 'Roboto', san serif;
  --font-bodycopy-accent: 'Roboto', san serif;
  --font-bodycopy: 'Roboto', san serif;
}
