<div class='row'>
  <div class="col-12 justify-content-center text-center">
    {{#link-to "submission.new" class="btn btn-primary btn-small"}}Create new Submission{{/link-to}}
    {{#link-to "submissions" class="btn btn-primary btn-small"}}View all submissions{{/link-to}}
    {{outlet}}
  </div>
</div>
