{{#if @submissionEvents}}
  {{#each @submissionEvents as |submissionEvent|}}
    {{#if submissionEvent.comment}}
      <div class="comment my-2 row">
        <div class="comment-content col-12">
          <p class="comment-meta">
            <span class="lead">
              <a href="mailto:{{submissionEvent.performedBy.email}}">
                {{submissionEvent.performedBy.displayName}}
              </a>
            </span>
            <span class="text-muted">
              ({{format-date submissionEvent.performedDate}})
            </span>
          </p>
          <div class="comment-body">
            <p>
              {{submissionEvent.comment}}<br />
            </p>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
{{/if}}