{{! template-lint-disable prettier }}
  <span class="status {{@submissionStatus}} pr-1" data-test-submission-detail-status>
    {{#if (eq @submissionStatus "manuscript-required")}}
      <span tooltip-position="left" tooltip="Your funder is aware of this publication and is expecting the deposit of your manuscript.">
        <i class="fas fa-info-circle"></i> manuscript required
      </span>
    {{/if}}
    {{#if (eq @submissionStatus "approval-requested")}}
      <span tooltip-position="left" tooltip="This submission has been prepared on behalf of the designated submitter and is awaiting approval before being submitted.">
        <i class="fas fa-info-circle"></i> approval requested
      </span>
    {{/if}}
    {{#if (eq @submissionStatus "changes-requested")}}
      <span tooltip-position="left" tooltip="The designated submitter has requested changes to this submission">
        <i class="fas fa-info-circle"></i> changes requested
      </span>
    {{/if}}
    {{#if (eq @submissionStatus  "cancelled")}}
      <span tooltip-position="left" tooltip="This submission has been cancelled by the designated submitter">
        <i class="fas fa-info-circle"></i> cancelled
      </span>
    {{/if}}
    {{#if (eq @submissionStatus  "submitted")}}
      <span tooltip-position="left" tooltip="The submission was successfully created. PASS will deposit this work into the target repositories and provide a link and feedback where available">
        <i class="fas fa-info-circle"></i> submitted
      </span>
    {{/if}}
    {{#if (eq @submissionStatus  "needs-attention")}}
      <span tooltip-position="left" tooltip="PASS has delivered the submission, but one or more repositories have indicated that there may be a need for further action before the submission is complete. View the submission for more details">
        <i class="fas fa-info-circle"></i> needs attention
      </span>
    {{/if}}
    {{#if (eq @submissionStatus "complete")}}
      <span tooltip-position="left" tooltip="The submission was accepted by all target repositories and is either pending publication or already published">
        <i class="fas fa-info-circle"></i> complete
      </span>
    {{/if}}
    {{#if (eq @submissionStatus "draft")}}
      <span tooltip-position="left" tooltip="This submission is a draft. No action will be taken on this submission until it is completed.">
        <i class="fas fa-info-circle"></i> draft
      </span>
    {{/if}}
  </span>
