{{#each @record.grants as |grant index|}}
  {{#if index}}
    <span>,</span><br />
  {{/if}}
  <LinkTo @route="grants.detail" @model={{grant.id}}>{{grant.awardNumber}}</LinkTo>
  ({{grant.primaryFunder.name}})
{{else}}
  Not Available
{{/each}}