.text-gray {
  color: gray;
}

.line-height-35 {
  line-height: 35px;
}

table td {
  border: 1px dotted silver;
  word-break: break-all;
}

.max-width {
  max-width: 300px !important;
  white-space: nowrap;
}

.fa-30 {
  font-size: 30px !important;
  margin-top: 4px;
}

.files-table tbody.striped tr:nth-of-type(odd) {
  background-color: white;
}

.files-table tbody.striped tr {
  background: #fdfdfd;
}

.-workflow-review-file-name {
  min-width: 200px;
}

.comment-text-area {
  resize: none;
  min-height: 38px !important;
}

.swal2-radio {
  flex-direction: column !important;
}

button[disabled] {
  cursor: default;
}
