{{#if this.setupManuscripts.isIdle}}
 {{#if (gt this.foundManuscripts.length 0)}}
    <div class="found-manuscripts text-gray-300">
      {{#each this.foundManuscriptsToDisplay as |manuscript|}}
        <input class="mr-2" type="checkbox" {{on "click" (fn this.streamFile manuscript)}}><a href={{manuscript}}>{{manuscript}}</a>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="app-loader"></div>
{{/if}}