{{! template-lint-disable no-action no-invalid-interactive }}
<div {{on "click" (fn this.clickOnRow @index @record)}}>
  <FaIcon @icon="{{if @isSelected 'square-check' 'square'}}" @prefix="far" />
</div>