<h3 class="font-weight-light ml-3">Files</h3>

{{#workflow-group name="attachments" workflow=(workflow-for model "attachments") as |group|}}
    {{#workflow-card step="upload" group=group
            back=(route-action "transitionTo" "submission.show.metadata" model)
            continue=(route-action "transitionTo" "submission.show.submission" model)}}

            <p>
                Attaching manuscript/article files to this submission.
            </p>
            <div class="container">
                <form>
                    <div class="form-group row">
                      <div class="col-md-12">
                          <input type="file" id="file-multiple-input" name="file-multiple-input" class="text-gray-300" style="border-width:2px; border-style: dashed; padding:5px;width:100%" multiple>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Description"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary float-right btn-sm">Add more files</button>
                        </div>
                    </div>
                </form>
            </div>
    {{/workflow-card}}
{{/workflow-group}}
