<h2>Funding</h2>

{{#workflow-group name="funding" workflow=(workflow-for model "funding") as |group|}} 
    {{#workflow-card step="select-funders" group=group
        cancel=(action (queue 
                (action (invoke "rollbackAttributes" model)) 
        )) 
        save=(action (invoke "save" model))
        continue=(action (queue
            (action "advance" target=group)
            (action "save" target=group)
            (action "attachWorkflow" model target=group)
            (action (invoke "save" model))
        ))}}
        
        <p>
            Review/Provide information about the grant(s)/award(s) that funded this work. This information will help determine which
            public access policies are applicable to your work.
        </p>
        {{submission-funding-table grants=model.grants}}

        <div class="container">
            <form>
                <div class="form-group row">
                    <label for="grant" class="col-sm-2 col-form-label">Add Grant:</label>

                    <div class="col-sm-10">
                        {{find-grant id="grant" class="form-control" onSelect=(route-action "pushInto" model.grants)}}
                    </div>
                </div>
            </form>
        </div>
    {{/workflow-card}} 

    {{#workflow-card step="view" group=group 
        next=(route-action "transitionTo" "submission.show.compliance" model)}}
        {{submission-funding-table grants=model.grants}}
    {{/workflow-card}} 

{{/workflow-group}}