<h2>Repositories</h2>
<p>
When complete, your submission will be sent to the following repositories.  You may optionally add additional repositories
at this time.
</p>
{{#workflow-group name="repositories" workflow=(workflow-for model "repositories") as |group|}}
    {{#workflow-card step="repos" group=group
        back=(route-action "transitionTo" "submission.show.compliance" model)
        continue=(action (queue
            (route-action "transitionTo" "submission.show.metadata" model)
            (action "save" target=group)
            (action "attachWorkflow" model target=group)
        ))}}
            <ul class="list-group">
            {{#each model.deposits as |deposit|}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{deposit.repo}}
                    <span class="badge badge-primary badge-pill">{{deposit.status}}</span>
                </li>
            {{/each}}
            </ul>
    {{/workflow-card}}
{{/workflow-group}}