{{#unless isSent}}

    <p>
        Your submission is ready to send to the desired repositories.
    </p>

{{else}}

    <p>
        Your submission has been sent.
    </p>

{{/unless}}

<button class="btn btn-primary btn-small" onclick={{action "doSend"}}>Send</button>
{{outlet}}
