<style>
th {
  min-width: 100px;
  font-size:0.9em;
}
table tbody tr td:nth-of-type(1)>div {
  min-width: 200px;
  max-width:300px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
table tbody tr td:nth-of-type(2) {
  min-width: 150px;
  max-width:200px;
  /* max-width: 100px; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
/* table tbody tr td:nth-of-type(4)>div {
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
</style>
<div class="row justify-content-center grant-table">
  <div class="col-sm-12">
        <h1 class="font-weight-light">Your Grants</h1>
        <p>
          Your grant records come from Johns Hopkins grant management system,
          COEUS. If you find any issue with these grant records, please
          {{#link-to 'contact'}}contact us{{/link-to}}.
        </p>
        <div style="overflow-x:auto;">
        {{models-table
          data=model
          columns=columns
          themeInstance=themeInstance
          showColumnsDropdown=false
          useFilteringByColumns=false
          filteringIgnoreCase=true
          multipleColumnsSorting=false
          piSelected='piclick'
          pageSize=tablePageSize
          pageSizeValues=tablePageSizeValues
        }}
      </div>
  </div>
</div>
{{#message-dialog show=messageShow to=messageTo subject=messageSubject message=messageText}}
{{/message-dialog}}
