<h2>Grants</h2>
{{models-table
  data=model
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  useFilteringByColumns=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
  piSelected='piclick'
  pageSize=tablePageSize
  pageSizeValues=tablePageSizeValues
}}

{{#message-dialog show=messageShow to=messageTo subject=messageSubject message=messageText}}
{{/message-dialog}}
