<style>
table tbody tr td:nth-of-type(6)>div {
  white-space: nowrap;
  text-align: center;
  width: 130px;
}
</style>
<div class="row mt-3 mb-3">
  <div class="col-6">
    <h1 class="font-weight-light pt-1">Submissions</h1>
  </div>
  <div class="col-6">
    {{#if (get (await currentUser.user) 'isSubmitter')}}
      {{#link-to "submissions.new" class="btn btn-primary btn-small pull-right"}}Create new Submission{{/link-to}}
    {{/if}}
  </div>
</div>
{{models-table
  data=model.submissions
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  useFilteringByColumns=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
  authorSelected='authorclick'
}}

{{#message-dialog show=messageShow to=messageTo subject=messageSubject message=messageText}}
{{/message-dialog}}
