<h1 class="font-weight-light">Submissions</h1>

{{models-table
  data=model
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  useFilteringByColumns=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
  authorSelected='authorclick'
}}

{{#message-dialog show=messageShow to=messageTo subject=messageSubject message=messageText}}
{{/message-dialog}}

{{#if (eq (get (await currentUser.user.person) 'role') 'PI')}}
  {{#link-to "submissions.new" class="btn btn-primary btn-small"}}Create new Submission{{/link-to}}
{{/if}}
