<h2>Submission details</h2>

<ul>
  <li>Title: {{model.title}}</li>
  <li>Copyright: {{model.copyright}}</li>
  <li>Creation date: {{model.creationDate}}</li>  
  <li>Status: {{model.status}}</li>
</ul>

{{#link-to 'submissions' class="btn btn-primary btn-small"}}Back to submissions{{/link-to}}