{{#if this.isStalled}}
  <div class="text-center">
    <p><i local-class="fa-circle" class="fas fa-circle mr-1"></i>
      <span class="test">stalled (<a href="#">?</a>)</span></p>
  </div>
{{else}}
  no issues detected
{{/if}}