{{outlet}}
<style>
.error-text {
  font-size: 2em !important;
  margin-bottom: 0;
  height: auto;
}
.helpful-text {
  font-size: 1.3em !important;
}
.error-icon {
  width:120px;
  float:left;
  margin-top:50px;
  margin-right:20px;
}
</style>
<div class="row">
  <div class="col">
    <img src="{{rootURL}}img/error-icon.png" class="error-icon" alt="Error icon">
    <p class="error-text"><br>404: Page not found</p>
    <p class="helpful-text">Looks like the page you're looking for does not exist. If you think there is a problem with the site, please {{#link-to 'contact'}}let us know{{/link-to}}</a>.</p>
  </div>
</div>