
<div class="row justify-content-center text-center">
  <div class="col-12" style="max-width:700px;">
    <h1 class="font-weight-light mt-5">About PASS</h1>

    <p>
    PASS is a web application which provides a unified user interface that allow its users to deposit their
    manuscripts into multiple repositories as required by applicable funding agencies' public access policies.
    </p>

    <p>
    Source code is available on
    <a href='https://github.com/DataConservancy/pass-ember'>GitHub</a>.
    </p>
  </div>
</div>
