<div class='row justify-content-center'>
  <div class="col-12">
    <h1 class="font-weight-light">About PASS</h1>

    <p>
    PASS is a web application which provides a unified user interface that allow its users to deposit their
    manuscripts into multiple repositories as required by applicable funding agencies' public access policies.
    </p>

    <p>
    Source code is available on
    <a href='https://github.com/DataConservancy/pass-ember'>GitHub</a>.
    </p>
  </div>
</div>
