
<div class="row justify-content-center text-left mb-4">
  <div class="col-12" style="max-width:900px;">
    <h1 class="font-weight-light mt-5 text-center">About PASS</h1>

    <p>
      The Sheridan Libraries at Johns Hopkins University, in collaboration with 221B, MIT Libraries and the Harvard University Office for Scholarly Communication, is building the <b>Public Access Submission System (PASS), an open platform that would support researchers’ workflows related to compliance with funding agencies’ public access and university open access policies.</b>
    </p>

    <p>
      While many federal agencies require research results to be made publicly accessible, the processes and requirements to do so vary greatly from one agency to another. The heterogeneous processes and requirements have become burdensome for researchers and their institutions, resulting in lower rates of compliances or compliance efficacies. Federal agencies, however, are not in a position to develop and commit to a solution, which would harmonize these workflows.
    </p>

    <p>
      On the university side, many researchers are subject to more than one OA policy, for example, a university policy and a funder policy. Similarly, in the case of researches with multiple funding sources, researchers are subjects to public access policies from different funders. Universities would face an implementation nightmare, if the only paths to compliance were the different submission interfaces at different funders and institutions,. A unified submission interface would lighten the load on universities, and improve compliance, even if the unified submission interface were not exclusive.
    </p>

    <p class="text-left">
      <h4>PASS aims to address these issues by:</h4>
      <ul>
        <li>
          Providing seamless functionality for submitting/collecting accepted manuscripts and metadata relevant to one or more agencies’ sponsored research and/or relevant to the researcher’s institution.
        </li>

        <li>
          Providing interfaces (e.g., APIs, SWORD, email-driven-workflows) for researchers, institutional administrators and agencies to access, collaborate on, submit, be notified about, and perhaps format accepted manuscripts and metadata.
        </li>

        <li>
          Depositing manuscripts and metadata in the repositories specified by the policies to which the author is subject, and/or additional repositories requested by the author.
        </li>
      </ul>
    </p>
    <p>
      PASS is an open source software project. We welcome collaboration opportunities with other institutions who share our goals.{{#link-to 'contact' class=''}} Contact our team {{/link-to}} for more information, or take a look at our code base, available on <a href="https://github.com/OA-PASS/pass-ember">GitHub.</a>
    </p>

  </div>
</div>
