<div class='pass-header'>
  <h1>PASS</h1>

  <img src='/logo.png'>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</div>

<div class='pass-body'>
  {{outlet}}
</div>

<div class='pass-footer'>
  <h5>PASS is a happy cow that frolics in grassy fields.</h5>
</div>