<div class='row pass-contact justify-content-center text-left'>
  <div class="col-12" style="max-width:1000px;">
    <h1 class="font-weight-light mt-5">Contact Us</h1>
    <div class="row mt-4">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>For help with using PASS, questions about policies & compliance, copyrights, issues with grants/grant data, or other topics relating to scholarly output, please contact:<br>
            <b>Robin N Sinn</b><br>
            Coordinator, Office of Scholarly Communication<br>
            <small>JHU Libraries | Johns Hopkins University | Baltimore, MD 21218</small><br>
            <a href="mailto:rsinn@jhu.edu" class="btn-link">rsinn@jhu.edu</a> | <a href="tel:410.516.8346" class="btn-link">410-516-8346</a>
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>For inquiries relating to acquiring PASS for your institution OR software development collaborations, please contact:<br>
          <b>Sayeed Choudhury</b><br>
          Associate Dean for Research Data Management, Sheridan Libraries<br>
          <small>JHU Libraries | Johns Hopkins University | Baltimore MD 21218</small><br>
          <a href="mailto:sayeed@jhu.edu" class="btn-link">sayeed@jhu.edu</a>
        </p>
      </div>
    </div>
  </div>
</div>
