<div class="pass-contact">
  <h2>Contact Us</h2>
  <p>We would like to hear from you. Bug reports should include...</p>
  <p>
    <a href="tel:888.888.888">+1 (888) 888-8888</a><br>
    <a href="mailto:support@example.com">support@example.com</a>
  </p>
</div>