<div class='row pass-contact justify-content-center text-center'>
  <div class="col-12" style="max-width:700px;">
    <h1 class="font-weight-light mt-5">Contact Us</h1>
    <p>We'd love to hear from you. For any questions about submitting through PASS, reach out to Robin Sinn below.</p>
    <p>
        Robin N Sinn<br>
        Coordinator, Office of Scholarly Communication<br>
        JHU Libraries | Johns Hopkins University | Baltimore, MD 21218<br>
        <a href="mailto:rsinn@jhu.edu" class="btn-link">rsinn@jhu.edu</a> | <a href="tel:410.516.8346" class="btn-link">410-516-8346</a>
    </p>
  </div>
</div>
