<style>
.card {
  height: 100%;
}
</style>
<div class='row row-eq-height'>
  <div class='col-md-6 mt-4 mb-4'>
    <div class='card'>
      <div class='card-body'>
        <h2 class='card-title font-weight-light'>Manage Publication Submissions</h2>
        <p class='card-text'>
          The submissions dashboard allows you to create new submission to multiple repositories as required by
          your funding agency or in relation to your institution's policies. You can also review and manage
          deposit status of your submissions into pertinent repositories.
        </p>
        <div class="text-center">
          {{#link-to 'submissions' class='btn btn-primary mr-auto mt-1'}}View Submissions{{/link-to}}
          {{#if (eq currentUser.user.role "PI")}}
            {{#link-to "submissions.new" class='btn btn-primary mt-1'}}Create New Submission{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6 mb-4 mt-4'>
    <div class='card'>
      <div class='card-body'>
        <h2 class='card-title font-weight-light'>Review Grant Compliance</h2>
        <p class='card-text'>
          The grant dashboard allows you to review information relating to your grants. You can also review
          submissions associated with each grant, their public access compliance statuses and perform
          appropriate actions to address compliance issues.
        </p>
        <div class="text-center">
          {{#link-to 'grants' class='btn btn-primary mt-1'}}View All Grants{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
