<h2>Dashboard</h2>

  <div>
    {{#link-to 'grants'}}Grants{{/link-to}}
    {{#link-to 'submissions'}}Submissions{{/link-to}}
  </div>

  <div>
  {{! View summary of whats happening? Actions: add grant? start submission? }}
  </div>