<style>
.card {
  height: 100%;
}
</style>
<div class='row row-eq-height'>
  <div class='col-md-6 mt-4 mb-4'>
    <div class='card'>
      <div class='card-body'>
        <h2 class='card-title font-weight-light'>
          Manage Publication Submissions
        </h2>
        <p class='card-text'>
          The submissions view allows you to:
            <ul>
              <li>create submissions to one or more repository in order to comply with the access policies of your funders and institutions</li>
              <li>review the statuses of previous submissions</li>
            </ul>
        </p>
        <div class="text-center">
          {{#if (get (await currentUser.user) 'isSubmitter')}}
            {{#link-to "submissions.new" class='btn btn-primary mt-1 mr-1'}}
              Start new submission
            {{/link-to}}
          {{/if}}
          {{#link-to 'submissions' class='btn btn-primary mr-auto mt-1'}}
            View submissions
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6 mb-4 mt-4'>
    <div class='card'>
      <div class='card-body'>
        <h2 class='card-title font-weight-light'>Manage Grants Compliance</h2>
        <p class='card-text'>
          The grants view allows you to:
          <ul>
            <li>see an overview of submission statuses at the grant level</li>
            <li>create a submission for a specific grant</li>
          </ul>
        </p>
        <div class="text-center">
          {{#link-to 'grants' class='btn btn-primary mt-1'}}
            Manage grants' submissions
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- {{#if (or numberAwaitingApproval numberAwaitingEdits)}} --}}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        You have:<br>
        {{#if statsLoaded}}
        {{numberAwaitingApproval}} submissions awaiting your approval.<br>
        {{numberAwaitingEdits}} submissions you've prepared awaiting the submitter's approval.
        {{else}}
        Loading...
        {{/if}}
      </div>
    </div>
  </div>
{{!-- {{/if}} --}}
