{{outlet}}
<style>
.faq-content h3 {
  padding-top:10px;
  font-weight:bold;
  font-size: 1.2rem!important;
}
.integration-type-text {
  font-style: italic;
  margin-bottom:3px;
  padding-bottom:0;
}
</style>
<div class="ml-auto mr-auto faq-content" style="max-width: 1000px;">
  <header class="mt-5">
    <h1>Frequently Asked Questions</h1>
  </header>
  <section>
    <h3 id="policies_PASS_can_support">What Open or Public Access policies can PASS support?</h3>
    <p>PASS fully supports Johns Hopkins University (JHU) Open Access policy by facilitating submissions of author’s accepted manuscripts (final published article - where permitted) into JScholarship, JHU institutional repository.</p>
    <p id="agencies_supported_by_PASS">Additionally, PASS supports existing workflows for Public Access mandated submissions into PubMed Central (PMC) - used by NIH and other funding agencies. Full list of agencies, whose Public Access policies PASS can support is below:</p>
    <h5>Full integration</h5>
    <p class="integration-type-text">Programmatic submission from PASS to NIH Manuscript Submission System (NIHMS) and status updates</p>
    <ul>
      <li>NIH - National Institutes of Health</li>
    </ul>
    <h5>Deposit integration</h5>
    <p class="integration-type-text">Programmatic submission from PASS to NIHMS without status updates</p>
    <ul>
      <li>ACL - Administration for Community Living</li>
      <li>AHRQ - Agency for Healthcare Research and Quality</li>
      <li>ASPR –  Office of the Assistant Secretary for Preparedness and Response</li>
      <li>CDC – Centers for Disease Control</li>
      <li>VA – Department of Veteran Affairs</li>
      <li>FDA - Food and Drug Administration</li>
      <li>HHMI- Howard Hughes Medical Institute</li>
      <li>NASA -National Aeronautics and Space Administration </li>
    </ul>
    <h5>Linked web portal</h5>
    <p class="integration-type-text">Programmatic integration is not currently possible, but PASS does provide link to the agencies’ submission portal and provide full list of relevant metadata to aid with submission process</p>
    <ul>
      <li>ED – Department of Education</li>
      <li>USAID – US Agency for International Development</li>
    </ul>
  </section>
  <section>
    <h3 id="institution-policy">What is my institution's open access policy?</h3>
    <p>As of July 1, 2018, Johns Hopkins University have put in effect a university wide open access policy that requires all scholarly articles produced by full-time faculty members be made openly available. To learn more about this policy visit the <a href="https://provost.jhu.edu/about/open-access/" target="_blank">Office of the Provost's webpages on Open Access at Johns Hopkins</a>.</p>
  </section>
  <section>
    <h3 id="processing">What is an article processing charge?</h3>
    <p>Article process charge, also known as publication fee, is a fee often charged to authors, by publisher, to fund the publication of open access journal articles. This fee is typically paid for by the author’s institution or research funder and range from $100 to $5000.</p>
  </section>
  <section>
    <h3 id="nih-submissions">What information about NIH submissions is pre-loaded into PASS?</h3>
    <p>Records of prior NIH submissions displayed in PASS go back to January 2013. Each night, updated Submission information is loaded into PASS from the NIH Manuscript Submission system (NIHMS). This information contains the public access compliance status of articles associated with NIH grants. If you are a PI on an NIH grant and have articles that are associated with those grants in PubMed, you may see the following on {{#link-to 'submissions'}}your Submissions page{{/link-to}}:</p>
       <ul>
         <li>Information about completed or in-progress Submissions, some of which may have been initiated outside of PASS. No action is required for these Submissions.</li>
         <li>Information about manuscripts that have not yet been received by NIH for deposit into PubMed Central. These will appear in PASS as "requiring a manuscript" and can be completed through PASS to deposit the manuscript into compliance.</li>
       </ul>
    <p>The information for these submissions comes directly from NIH. Please feel free to {{#link-to 'contact'}}contact us{{/link-to}} if there are problems with the information so that we can contact NIH.</p>
  </section>
</div>
