{{outlet}}
<div class="ml-auto mr-auto" style="max-width: 1000px;">
  <header class="m-4 p-4">
    <h1 class="text-center">Frequently Asked Questions</h1>
  </header>
  <section>
    <h3 id="policies_PASS_can_support">What Open or Public Access policies can PASS support?</h3>
    <p>PASS fully supports Johns Hopkins University (JHU) Open Access policy by facilitating submissions of author’s accepted manuscripts (final published article - where permitted) into JScholarship, JHU institutional repository.</p>
    <p>Additionally, PASS supports existing workflows for Public Access mandated submissions into PubMed Central (PMC) - used by NIH and other funding agencies. Full list of agencies, whose Public Access policies PASS can support is below:</p>
    <h5>Full integration (programmatic submission from PASS to NIH Manuscript Submission System (NIHMS) and status updates)</h5>
    <ul>
      <li>NIH - National Institutes of Health</li>
    </ul>
    <h5>Deposit integration (programmatic submission from PASS to NIHMS)</h5>
    <ul>
      <li>ACL - Administration for Community Living</li>
      <li>AHRQ - Agency for Healthcare Research and Quality</li>
      <li>ASPR –  Office of the Assistant Secretary for Preparedness and Response</li>
      <li>CDC – Centers for Disease Control</li>
      <li>VA – Department of Veteran Affairs</li>
      <li>FDA - Food and Drug Administration</li>
      <li>HHMI- Howard Hughes Medical Institute</li>
      <li>NASA -National Aeronautics and Space Administration </li>
    </ul>
    <h5>Linked web portal (programmatic integration is not currently possible, but PASS does provide link to the agencies’ submission portal and provide full list of relevant metadata to aid with submission process)</h5>
    <ul>
      <li>ED – Department of Education</li>
      <li>USAID – US Agency for International Development</li>
    </ul>
  </section>
  <section id="agencies" class="mt-4">
    <h2 class="text-center">Agencies supported by PASS</h2>
    <div class="row">
      <img class="col-3 agency-size" src="/img/agencies/jhu-logo.png" alt="First slide">
      <img class="col-3 agency-size" src="/img/agencies/cdc-logo.png" alt="First slide">
      <img class="col-3 agency-size" src="/img/agencies/depOfVa-logo.png" alt="Second slide">
      <img class="col-3 agency-size" src="/img/agencies/dhs-logo.jpg" alt="Third slide">
    </div>
    <div class="row">
      <img class="col-3 agency-size" src="/img/agencies/acl-logo.png" alt="Third slide">
      <img class="col-3 agency-size" src="/img/agencies/epa-Logo.jpg" alt="First slide">
      <img class="col-3 agency-size" src="/img/agencies/fda-logo.png" alt="Second slide">
      <img class="col-3 agency-size" src="/img/agencies/hhmi-logo.png" alt="Third slide">
    </div>
    <div class="row">
      <img class="col-3 agency-size" src="/img/agencies/ahrq-logo.jpg" alt="Third slide">
      <img class="col-3 agency-size" src="/img/agencies/nasa-logo.jpg" alt="First slide">
      <img class="col-3 agency-size" src="/img/agencies/nih-logo.png" alt="Second slide">
      <img class="col-3 agency-size" src="/img/agencies/nist-logo.png" alt="Third slide">
    </div>
    <div class="row">
      <img class="col-3 agency-size" src="/img/agencies/aspr-logo.jpg" alt="Third slide">
    </div>
  </section>
</div>
