{{outlet}}
<style>
.faq-content h3 {
  padding-top:10px;
  font-weight:bold;
  font-size: 1.2rem!important;
}
.integration-type-text {
  font-style: italic;
  margin-bottom:3px;
  padding-bottom:0;
}
</style>
<div class="ml-auto mr-auto faq-content" style="max-width: 1000px;">
  <header class="mt-5">
    <h1>Frequently Asked Questions</h1>
  </header>
  <section>
    <h3 id="policies_PASS_can_support">What Open or Public Access policies can PASS support?</h3>
    <p>PASS fully supports Johns Hopkins University (JHU) Open Access policy by facilitating submissions of author’s accepted manuscripts (final published article - where permitted) into JScholarship, JHU institutional repository.</p>
    <p id="agencies_supported_by_PASS">Additionally, PASS supports existing workflows for Public Access mandated submissions into PubMed Central (PMC) - used by NIH and other funding agencies. Full list of agencies, whose Public Access policies PASS can support is below:</p>
    <h5>Full integration</h5>
    <p class="integration-type-text">Programmatic submission from PASS to NIH Manuscript Submission System (NIHMS) and status updates</p>
    <ul>
      <li>NIH - National Institutes of Health</li>
    </ul>
    <h5>Deposit integration</h5>
    <p class="integration-type-text">Programmatic submission from PASS to NIHMS without status updates</p>
    <ul>
      <li>ACL - Administration for Community Living</li>
      <li>AHRQ - Agency for Healthcare Research and Quality</li>
      <li>ASPR –  Office of the Assistant Secretary for Preparedness and Response</li>
      <li>CDC – Centers for Disease Control</li>
      <li>VA – Department of Veteran Affairs</li>
      <li>FDA - Food and Drug Administration</li>
      <li>HHMI- Howard Hughes Medical Institute</li>
      <li>NASA -National Aeronautics and Space Administration </li>
    </ul>
    <h5>Linked web portal</h5>
    <p class="integration-type-text">Programmatic integration is not currently possible, but PASS does provide link to the agencies’ submission portal and provide full list of relevant metadata to aid with submission process</p>
    <ul>
      <li>ED – Department of Education</li>
      <li>USAID – US Agency for International Development</li>
    </ul>
  </section>
  <section>
    <h3 id="processing">What is an article processing charge?</h3>
    <p>Article process charge, also known as publication fee, is a fee often charged to authors, by publisher, to fund the publication of open access journal articles. This fee is typically paid for by the author’s institution or research funder and range from $100 to $5000.</p>
  </section>
</div>
