{{outlet}}
<div class="ml-auto mr-auto" style="max-width: 700px;">
  <header class="m-4 p-4">
    <h1 class="text-center">Frequently Asked Questions</h1>
  </header>
  <section>
    <h3>Question 1</h3>
    <p>Answer</p>
  </section>
  <section>
    <h3>Question 2</h3>
    <p>Answer</p>
  </section>
  <section>
    <h3>Question 3</h3>
    <p>Answer</p>
  </section>
  <section>
    <h3>Question 4</h3>
    <p>Answer</p>
  </section>
</div>
