{{outlet}}
<div class="mb-4">
    <div class="row custom-header justify-content-center m-0">
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1  class="font-weight-light mt-4" >Public Access Submission System</h1>
        <p class="font-weight-light mt-4">
          PASS is an easy-to-use web application which supports and improves compliance to funding agencies' public and institution's open access policies. With PASS, an author accepted manuscript can be submitted to multiple repositories seamlessly at once. Researchers may be able to avoid paying {{#link-to 'about'}} Open Access publishing fees {{/link-to}} using PASS. PASS may also be able to save researchers’ time and effort in submitting manuscripts by looking up their bibliographical information using DOIs and ORCiDs. {{#link-to 'about'}}Learn more about PASS?{{/link-to}}
        </p>
        {{#link-to "dashboard" class='btn btn-primary mt-1 pl-4 pr-4'}}Get Started!{{/link-to}}

      </div>

    </div>
  </div>
  <h2 class="font-weight-light mt-4 text-center m-4">
    PASS supports existing submission workflows for the following agencies and institutions
  </h2>

  {{carousel-gallery class="row mb-4 padding-lr-100"}}
  <div class="w-100 text-center">
    {{#link-to "faq" class='btn btn-link mt-1 pl-4 pr-4'}}Full list of agencies PASS supports{{/link-to}}
  </div>
