{{outlet}}
<div class="mb-4">
    <div class="row custom-header justify-content-center m-0">
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1  class="font-weight-light mt-4" >Public Access Submission System</h1>
        <p class="font-weight-light mt-4">
          PASS is a easy-to-use web application to comply with public and open access policies seamlessly. With PASS, you can submit author accepted manuscripts to multiple repositories simultaneously for funder and institutional compliance. You may be able to avoid paying open access fees to publishers using PASS. Whenever possible, PASS automatically harvests article metadata to reduce data entry using DOIs and ORCiDs
        </p>
        <!-- <img src="/logo.png" alt="Logo"> -->
      </div>

    </div>
  </div>
  <h1  class="font-weight-light mt-4 text-center m-4">PASS supports these agencies' and institutions'<br> <h4>public and open access policies</h4></h1>

  {{carousel-gallery class="row mb-4"}}
<div class="row">
  <div class="col-md-12 text-center">
    <h1  class="font-weight-light mt-4" >Interested?</h1>
    <p class="font-weight-light mt-4">
      Interested in making PASS even better? Want to have PASS for your institution? {{#link-to 'contact' class='nav-link borderless'}}Contact us!{{/link-to}} </p>
    <!-- <img src="/logo.png" alt="Logo"> -->
  </div>

</div>
