{{outlet}}
<div class="mb-4">
    <div class="row custom-header justify-content-center m-0">
      <div class="col-md-12">
        <br>
        <h3 class="display-4 mt-4">Johns Hopkins University</h3>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1  class="font-weight-light mt-4" >Public Access Submission System</h1>
        <h4 class="font-weight-light mt-4">
          PASS is a easy-to-use web application to make compliance to public/open access policies easier. Submit author accepted manuscripts to multiple repositories at once. Minimal data entry with the help with metadata look-up
        </h4>
        <!-- <img src="/logo.png" alt="Logo"> -->
      </div>

    </div>
  </div>
  <h1  class="font-weight-light mt-4 text-center m-4">Agencies</h1>
  {{carousel-gallery class="row mb-4"}}
<div class="row">
  <div class="col-md-12 text-center">
    <h1  class="font-weight-light mt-4" >Interested</h1>
    <h4 class="font-weight-light mt-4">
      Interested in making PASS even better? Want to have PASS for your institution? {{#link-to 'contact' class='nav-link borderless'}}Contact us!{{/link-to}}  </h4>
    <!-- <img src="/logo.png" alt="Logo"> -->
  </div>

</div>
