{{outlet}}
<div>
  <!-- <router-view></router-view> -->
    <!-- First Content & login -->
    <div class="row cus-header justify-content-center m-0">
      <div class="col-md-12">
        <br>
        <h3 class="display-4 mt-4">Johns Hopkins University</h3>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1  class="font-weight-light mt-4" > Public Access Submission System</h1>
        <h4 class="font-weight-light mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </h4>
        <img src="/logo.png" alt="Logo">
      </div>

    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 col-lg-3">
         <div class="bg-gray-200" ><img src="http://placehold.it/250x250" alt="inn_logo" /></div>
     </div>
     <div class="col-md-6 col-lg-3">
       <div class="bg-gray-200" ><img src="http://placehold.it/250x250" alt="inn_logo" /></div>
     </div>
     <div class="col-md-6 col-lg-3">
       <div class="bg-gray-200" ><img src="http://placehold.it/250x250" alt="inn_logo" /></div>
     </div>
     <div class="col-md-6 col-lg-3">
       <div class="bg-gray-200" ><img src="http://placehold.it/250x250" alt="inn_logo" /></div>
     </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h1  class="font-weight-light mt-4" >Eiusmod Tempor Incididunt</h1>
    <h4 class="font-weight-light mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    </h4>
    <h4 class="font-weight-light mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    </h4>
    <img src="/logo.png" alt="Logo">
  </div>

</div>
