<h2>Login</h2>

<form>
  <div class="form-group">
    <label for='login-user'>Username</label>
    {{input id='login-user' class='form-control' value=username type='text'}}
  </div>

  <div class="form-group">
      <label for='login-pass'>Password</label>
      {{input id='login-pass' class='form-control' value=password type='password'}}
  </div>

  <button {{action 'login'}} class='btn btn-primary'>Login</button>
</form>

{{#if loginFailed}}
<div class='alert alert-danger'>
  Login failed.
</div>
{{/if}}
