<div id="metrics-container" class='row row-eq-height'>
  <div class='card'>
    <div class='card-body'>
      <h2 class='card-title font-weight-light'>
        Welcome to the Metrics Page!
      </h2>
      <p class='card-text'>
        Here, you'll find some metrics on different information from PASS
      </p>
    </div>
  </div>
</div>

