{{outlet}}
<div class="row">
  <div class="col">
    <img src="{{this.icon}}" local-class="error-icon" alt="Error icon">
    <p local-class="error-text"><br>404: Page not found</p>
    <p local-class="helpful-text">Looks like the page you're looking for does not exist. If you think there
      is a problem with the site, please <a href="{{this.contactUrl}}">let us know</a>.</p>
  </div>
</div>