{{outlet}}
<div class="row">
  <div class="col-2">
    <img src="{{this.icon}}" alt="Error icon" />
  </div>
  <div class="col my-auto">
    <h2>404: Page not found</h2>
    <p local-class="helpful-text">Looks like the page you're looking for does not exist. If you think there is a problem
      with the site, please
      {{#if this.contactUrl}}
        <a href="{{this.contactUrl}}">let us know</a>.
      {{else}}
        contact your administrator.
      {{/if}}
    </p>
  </div>
</div>