<div class="row justify-content-center">
  <div class="col-sm-10">
    <h1 class="font-weight-light">Submissions:</h1>
    {{models-table
      data=model
      columns=columns
      themeInstance=themeInstance
      showColumnsDropdown=false
      useFilteringByColumns=false
      filteringIgnoreCase=true
      multipleColumnsSorting=false
      authorSelected='authorclick'
    }}
    {{#if session.isPI}}
      {{#link-to "submission.new" class="btn btn-primary btn-small"}}Create new Submission{{/link-to}}
    {{/if}}
  </div>
</div>
{{#message-dialog show=messageShow to=messageTo subject=messageSubject message=messageText}}
{{/message-dialog}}
