{{outlet}}
<h1>Thanks for submitting!</h1>
<p>You can keep track of your submission progress {{#link-to 'submissions.index' class="btn-link"}}here{{/link-to}}.
  If you have any questions, you can ask us at support@pass.jhu.edu. {{#link-to 'index' class="btn-link"}}Back to homepage.{{/link-to}}</p>
