{{outlet}}
<h1>Thanks for submitting!</h1>
<p>You can keep track of your submission progress {{#link-to 'submissions.index'}}here{{/link-to}}.
  If you have any questions, you can ask us at support@pass.jhu.edu. {{#link-to 'index'}}Back to homepage.{{/link-to}}</p>
