{{outlet}}
<h1>Thanks for submitting!</h1>
<p>
  Thank you for submitting your publication through PASS. A detailed summary
  of your submission can be seen
  {{#link-to 'submissions.detail' submission class="btn-link"}}here{{/link-to}}. For a list
  of all submissions associated to your account, please see
  {{#link-to 'submissions.index' class="btn-link"}}here{{/link-to}}.
</p>
<p>To learn more about what to expect from each repository after submitting through PASS, <a href="{{rootURL}}faq#what-to-expect">visit the FAQ page.</a></p>

