{{outlet}}
<h1 data-test-workflow-thanks-thank-you>Thank you!</h1>
<p>
  A detailed summary of the submission and it's current status can be seen
  <LinkTo @route="submissions.detail" @model={{this.submission}} class="btn-link">here</LinkTo>.
  A list of all submissions associated with your account can be found on the
  <LinkTo @route="submissions.index" class="btn-link">Submissions page</LinkTo>.
</p>
<p>
  To learn more about what to expect from each repository after submitting through PASS,
  <a href="{{this.assetsUri}}faq.html#supported-policies">visit the FAQ page</a>.
</p>